<div>
    <!--    Loading Animation   -->
    <div class="pull-right">
        <div class="spinner" ng-show="pageLoading">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
    <div class=" top110 bot15 message-p pn right10 left10">
        <div class="message-header">
            <div ng-repeat="menu in menuList">
                    <span ng-repeat="section in menu.sections">
                        <a ng-href="#/dashboard/analytics#{{section.name}}">{{section.name}}&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    </span>
            </div>
        </div>
        <div class="panel-body catch-overflow" >
         <br/><br/>
            <div class="col-lg-10 col-lg-offset-1 bot15">
              <div ng-repeat="menu in menuList">
                  <div ng-repeat="section in menu.sections" ng-init="sectionshow = true">

                      <div class="left-80 right-80"><h3 class="text-left" id="{{section.name}}">{{section.name}}
                          <a ng-click=" sectionshow = !sectionshow" ng-show="sectionshow == true" class="pull-right"><i class="fa fa-arrow-right"></i></a>
                          <a ng-click=" sectionshow = !sectionshow" ng-show="sectionshow == false" class="pull-right"><i class="fa fa-arrow-down"></i></a>
                      </h3>
                          <hr/></div>
                      <div ng-show="sectionshow">
                <div ng-repeat="entry in section.entries"  ng-init="id = entry.id; show = false" class="content-panel right-80 left-80 bot15">
                    <div class="panel-body">
                        <div class="col-lg-3">
                            <h4>{{entry.name}}</h4>
                                <canvas doughnutchart options="donutOptions" data="entry.donut" width="200" height="200"></canvas>
                        </div>
                        <div class="col-lg-5">
                            <h4>Number Of Reviews</h4>
                            <canvas linechart options="lineOptions" data="entry.chart" width="350" height="200"></canvas>
                        </div>
                        <div class="col-lg-4">
                        <div><h4>{{entry.star_average}}</h4></div>
                            <raty id="star{{$index}}" score="{{entry.star_average | number:1}}" number="5"></raty>
                        <h5>Average Star Rating</h5>
                        <div class="showback">
                            <div class="progress" ng-repeat="slider_template in entry.slider_templates">
                                <div class="progress-bar progress-bar-danger" role="progressbar"
                                     aria-valuenow="" aria-valuemin="0"
                                     aria-valuemax="100" style="width: {{slider_template.average_score}}%">
                                     {{slider_template.category}}
                                </div>
                            </div>
                            <h5>Average Slider Ratings</h5>
                            <a ng-click="showReviews(entry.id); show = !show"><span ng-show="!show">Click Here To See Reviews</span><span ng-show="show">Hide Reviews</span></a>
                        </div><!--/showback -->
                        </div>
                        <div id="entry.name" ng-show="show">
                            <div ng-repeat="review in reviews[id]">
                                <div class="panel-body">
                                    <div class = "col-lg-2">
                                        <p><a href="profile.html"><i class=" fa fa-3x fa-user"></i></a> {{review.user.user.username}}</p>

                                    </div>
                                    <div class = "col-lg-9">
                                        <h5 class="pull-left"> <b>Date: </b> {{review.date_posted | date: 'medium'}}</h5><br/><br/>
                                        <h5 class="pull-left"><b>Score: </b></h5><raty class="top5" id="star{{$index}}" score="{{review.stars | number:1}}" number="5"></raty><br/><br/>
                                        <h5 class="pull-left"><b>Title: </b>{{review.title}}</h5><br/><br/>
                                        <h5 class="pull-left"> <b>COMMENTS: </b></h5>
                                        <br/><div class="pull-left">{{review.comment}}</div>

                                        <div class="col-lg-12 left-30">

                                            <div class="showback">
                                                <div class="progress" ng-repeat="slider_template in review.entry.slider_templates">
                                                    <div class="progress-bar progress-bar-danger" role="progressbar"
                                                         aria-valuenow="" aria-valuemin="0"
                                                         aria-valuemax="100" style="width: {{slider_template.average_score}}%">
                                                        {{slider_template.category}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- brand responses -->
                                        <h5 class="pull-left"> <b>RESPONSES: </b></h5>

                                        <div class="col-lg-12 text-left">
                                            <div ng-repeat="ru in review.brand_responses">
                                                <div class="response-box">
                                                    <h5>{{ru.comment}}</h5>
                                                    <h6>{{ru.responder}}</h6>
                                                </div>
                                            </div>
                                        </div>

                                        <div class = "col-lg-12">
                                            <div class="pull-left">
                                                <button class = "btn send-btn"><a href="mailto:{{review.user.user.email}}?Subject=Responding%20too%20your%20comment."> EMAIL </a></button>

                                                <!--<button class = "btn done-btn" ng-click = "popup1(review.id)"> COMMENT </button>-->
                                                <button class = "btn done-btn" ng-model="clickedit" ng-click="passReivewID(review.id)"> RESPOND </button>
                                            </div>
                                            <div class="pull-right top15">
                                                <a class = "btn fa fa-twitter" target=_"blank" href="http://twitter.com/home?status='{{review.comment}}' from {{review.user.user.username}} via @GetRecommenu%20">Share on Twitter</a>
                                                <!--<button class="btn fa fa-facebook"></button>-->
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- entry -->
                      </div><!-- section -->
              </div>
            </div>
    </div>
</div></div></div>