<div class="row">
    <div class = "col-md-4 col-md-offset-4 col-sm-12 recom-log top10p" >
        <p class="centered"><a><img src="/images/login-logo.png" class="img" width="255" height = "42"></a></p>
        <p class = "centered"> <span class = "dash-text"> DASHBOARD </span> </p>
    </div>
</div>
<div class="row">



<div class="col-md-4 col-md-offset-4 col-sm-12 member-login2" role="form">
        <div class="form-panel center-block">
            <p class="icon-key"><i class="fa fa-key"></i></p>
            <!-- <label>MEMBER LOGIN</label> -->
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Username" ng-model = "username" autofocus>
            </div>
            <br>
            <div class="input-group">
                <input type="password" class="form-control" ng-model = "password" placeholder="Password">
            </div>
            <label class="login2">
                <button class="btn btn-theme-login2" type="submit" ng-click="signIn(username, password)"> LOG IN</button>
            </label>
            <!--
            <div class="loginstatus">
                <p class="text-center">{{ loginStatus }}</p>
            </div>
        -->
            <div class="registration">
                <a class="registration" href="#" data-toggle="modal" data-target="#myModal">
                    FORGOT PASSWORD
                </a>
            </div>
        </div>
</div>

</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header recommenu-modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Help and Support</h4>
            </div>
            <div class="modal-body">
                Please contact your account manager to recover or reset your password.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>