<div>
    <div class="overlay-bg2" ng-show="clickedit">
        <div class="overlay-content2" >
            <div class="form-group">
                <div class="">
                    <input type="text" class="form-control"  autofocus placeholder="Name" ng-model="uname">
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <textarea rows="12" class="form-control"  autofocus placeholder="Comment" ng-model="ucomment"></textarea>
                </div>
            </div>
            <button class="btn" ng-click="setResponse(uname, ucomment, reviewIDPassed)"> Submit Comment</button>
            <h4>{{response}}</h4>
        </div>
    </div>
     <div class="header secondaryHeader" ng-show="responseSuccess">
         <div class="nav" id="top_menu">
             <ul class="nav top-menu">
                <li class = "nav pull-left">
                    <h5>{{responseMessage}}</h5>
                </li>
                <li class = "nav pull-right">
                    <h5 class="responseSuccessClose" ng-click="closeResponseSuccess()">Close</h5>
                </li>
            </ul>
        </div>
    </div>

    <div class=" top110 bot15 message-p pn right10 left10">
        <div class="message-header">
            <div class="panel-body left-60">
                <form class="form-inline" role="form">
                    <div class="col-lg-2">
                        <b>Sort By:</b>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <select class="form-control" ng-model="time">
                                <option value='' disabled selected style='display:none;'>Time</option>
                                <option value="">None</option>
                                <option value="date_posted">Most Recent</option>
                                <option value="-date_posted">Oldest</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <select class="form-control" ng-model="sectionfilter.entry.section">
                                <option value='' disabled selected style='display:none;'>Section</option>
                                <option value="">None</option>

                                <option  ng-repeat="section in sectionList" value="{{section.resource_uri}}">{{section.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <select class="form-control" ng-model="rating">
                                <option value='' disabled selected style='display:none;'>Rating</option>
                                <option value="">None</option>
                                <option value="stars">Low to High</option>
                                <option value="-stars">High to Low</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <input type="text" class="form-control" ng-model="searchText.comment" placeholder="SEARCH" autofocus>
                    </div>
                    <div class="col-lg-2" >
                        <!--    Loading Animation   -->
                        <div class="pull-right">
                            <div class="spinner" ng-show="pageLoading">
                                <div class="double-bounce1"></div>
                                <div class="double-bounce2"></div>
                            </div>
                        </div>
                        <div ng-show="!pageLoading"><b>{{total_reviews}} Total Reviews</b></div>
                    </div>
                </form></div>
        </div>
        <div class="panel-body catch-overflow">
                <div class="col-lg-10 col-lg-offset-1 top5">
                            <div class="content-panel right-60 left-60 bot15" ng-repeat="review in reviews | orderBy:time | orderBy:rating | filter:searchText:strict | filter:sectionfilter:strict">
                                <div class="panel-body">
                                    <div class = "col-lg-2">
                                        <p><a href="profile.html"><i class=" fa fa-3x fa-user"></i></a> {{review.user.user.username}}</p>

                                    </div>
                                    <div class = "col-lg-9">
                                        {{review.entry.name}}{{review.entry.section}}
                                    <h5 class="pull-left"> <b>Date: </b> {{review.date_posted | date: 'medium'}}</h5><br/><br/>
                                    <h5 class="pull-left"><b>Score: </b></h5><raty class="top5" id="star{{$index}}" score="{{review.stars | number:1}}" number="5"></raty><br/><br/>
                                    <h5 class="pull-left"><b>Title: </b>{{review.title}}</h5><br/><br/>
                                    <h5 class="pull-left"> <b>COMMENTS: </b></h5>
                                    <br/><div class="pull-left">{{review.comment}}</div>

                                    <div class="col-lg-12 left-30">

                                    <div class="showback">
                                        <div class="progress" ng-repeat="slider_template in review.entry.slider_templates">
                                            <div class="progress-bar progress-bar-danger" role="progressbar"
                                                 aria-valuenow="" aria-valuemin="0"
                                                 aria-valuemax="100" style="width: {{slider_template.average_score}}%">
                                                {{slider_template.category}}
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                    <!-- brand responses -->
                                    <h5 class="pull-left"> <b>RESPONSES: </b></h5>

                                    <div class="col-lg-12 text-left">
                                        <div ng-repeat="ru in review.brand_responses">
                                            <div class="response-box">
                                                <h5>{{ru.comment}}</h5>
                                                <h6>{{ru.responder}}</h6>
                                            </div>
                                        </div>
                                    </div>

                                    <div class = "col-lg-12">
                                        <div class="pull-left">
                                          <button class = "btn send-btn"><a href="mailto:{{review.user.user.email}}?Subject=Responding%20too%20your%20comment."> EMAIL </a></button>

                                          <!--<button class = "btn done-btn" ng-click = "popup1(review.id)"> COMMENT </button>-->
                                          <button class = "btn done-btn" ng-model="clickedit" ng-click="passReivewID(review.id)"> RESPOND </button>
                                        </div>
                                        <div class="pull-right top15">
                                            <a class = "btn fa fa-twitter" target=_"blank" href="http://twitter.com/home?status='{{review.comment}}' from {{review.user.user.username}} via @GetRecommenu%20">Share on Twitter</a>
                                            <!--<button class="btn fa fa-facebook"></button>-->
                                        </div>

                                    </div>
        
                                </div>
                            </div>
                </div>
            </div>
    </div>
</div>
</div>

